<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-md-5">
    <a class="navbar-brand" href="#">
      <img
        src="/icons/appIcon.png"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      SurvivorSync
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link text-white mx-2" href="/">Home</a>
        <a class="nav-link text-white mx-2" href="/campgrounds">Campgrounds</a>
        <a class="nav-link text-white mx-2" href="/campgrounds/new">New Campgrounds</a>
      </div>
    </div>
  </div>
</nav>
